*,
::before,
::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body, html {
  overflow-y: auto;
  -ms-overflow-style: unset;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.body {
  align-content: start;
  font-family: $base-f;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $base-black;
  background-color: $base-white;
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

input[type="number"] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus {
  color: inherit;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

img {
  height: auto;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 1020px;
  padding-left: 40px;
  padding-right: 40px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 36px;
  padding: 0;
  border: none;
  border-radius: 2px;
  font-family: $base-f;
  font-size: 12px;
  line-height: 14px;
  color: $base-white;
  cursor: pointer;
  transition: 0.3s ease;

  &--primary {
    background-color: $special-mango-tango;
    color: $base-white;
  }

  &--secondary {
    background-color: $special-silver;
  }
}


.button--primary:hover,
.button--primary:focus {
  background-color: $special-yellow-orange;
  color: $base-white;
}

.button--primary:active {
  background-color: $special-brandy-punch;
}

.button--secondary:hover,
.button--secondary:focus {
  background-color: $special-scorpion;
}

.button--secondary:active {
  background-color: $special-silver-chalice;
}
