$base-f: "Droid Sans", "Arial", sans-serif;
$base-bold-f: "Droid Sans Bold", "Arial", sans-serif;
$special-f: "Poppins", "Arial", sans-serif;

$base-black: #000000;
$base-white: #FFFFFF;
$base-mine-shaft: #3F3F3F;
$base-alto: #DDDADA;
$base-invalid: #D53F3F;

$special-silver-chalice: #9F9E9E;
$special-scorpion: #585757;
$special-silver: #C1C1C1;
$special-alto: #DDDADA;
$special-alto2: #DDDDDD;
$special-mango-tango: #E27F00;
$special-yellow-orange: #FFA839;
$special-brandy-punch: #DA8B26;
$special-dove-gray: #6C6C6C;
$special-red: #F20505;
$special-tundora: #474747;

