.header {
  position: relative;
  min-width: 1020px;
  background-color: rgba(30, 9, 6, 0.15);

  &:before {
    position: absolute;
    content: "";
    bottom: -100px;
    left: 0;
    width: 100%;
    height: 74px;
    background-image: url("../../../img/lines.svg");
  }

  &::after {
    position: absolute;
    content: "";
    bottom: -262px;
    right: 0;
    width: 825px;
    height: 298px;
    background-image: url("../../../img/guitar.png");
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  min-height: 110px;
}

.header__menu {
  margin: 0 auto 0 115px;
}
.header__control {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 170px;
  margin: 5px 10px 0 auto;
  list-style: none;
}

.header__link {
  display: block;
  padding: 10px;
}

.header__link--place:hover path,
.header__link--place:focus path {
  stroke: $special-tundora ;
}

.header__link--place:active path {
  stroke: rgba($special-tundora, .5);
}

.header__link--service:hover path,
.header__link--service:focus path,
.header__link--cart:hover path,
.header__link--cart:focus path{
  fill: $special-tundora;
}

.header__link--service:active path,
.header__link--cart:active path{
  fill: rgba($special-tundora, .5);
}

.header__item--cart {
  position: relative;
}

.header__goods-amount {
  position: absolute;
  top: 9px;
  right: 0;
  font-family: $base-f;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: $special-red;
}
