.popup-success {
  width: 740px;
  height: 185px;
  padding: 30px 50px;
  border-radius: 6px;
  background-color: $base-white;
}

.popup-success__text {
  margin: 0;
  font-family: $base-bold-f;
  font-weight: 700;
  font-size: 18px;
  line-height: 15px;
  letter-spacing: .05em;
  color: $special-tundora;
}

.popup-success__close {
  position: absolute;
  bottom: 53px;
  right: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 46px;
  border: 1px solid $special-scorpion;
  border-radius: 2px;
  font-family: $base-bold-f;
  font-weight: 700;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: .1em;
  color: $special-scorpion;
  background-color: $base-white;
}

.popup-success__close:hover,
.popup-success__close:focus {
  opacity: .7;
}

.popup-success__close:active {
  opacity: .5;
}

.popup-success__button-cart {
  position: absolute;
  bottom: 53px;
  left: 133px;
  width: 220px;
  height: 46px;
  font-family: $base-bold-f;
  font-weight: 700;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: .08em;
}
