.popup-delete {
  width: 740px;
  height: 230px;
  padding: 30px 50px 30px 50px;
  background-color: $base-white;
  border-radius: 4px;
}

.popup-delete__text {
  margin: 0 0 20px 0;
  font-family: $base-bold-f;
  font-weight: 700;
  font-size: 18px;
  line-height: 15px;
  letter-spacing: .05em;
  color: $special-tundora;
}

.popup-delete__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.popup-delete__img {
  width: 56px;
  height: 128px;
  margin: 0 40px 0 0;
}

.popup-delete__info {
  margin: 20px 0 0 0;
}

.popup-delete__button {
  margin: 16px 0 0 auto;
  width: 220px;
  height: 46px;
  font-family: $base-bold-f;
  font-weight: 700;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: .08em;
}

.popup-delete__close {
  position: absolute;
  bottom: 40px;
  right: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 46px;
  border: 1px solid $special-scorpion;
  border-radius: 2px;
  font-family: $base-bold-f;
  font-weight: 700;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: .1em;
  color: $special-scorpion;
  background-color: $base-white;
}
